{% extends "dashboard/base.html" %}
{% load static i18n avatar %}
{% block title %}{{object.name}}{% endblock %}

{% block content %}
{% if object.group_pic %}
<section class="hero-wrap d-flex flex-column justify-content-end"
style="background: linear-gradient(rgb(148,163,184,0.8), rgb(51,65,85,0.8)), url({{object.group_pic.url}}); background-size: cover; background-position: center;" 
    >
{% else %}
<section class="hero-wrap d-flex flex-column justify-content-end"
    style="background:linear-gradient(rgb(148,163,184,0.8), rgb(51,65,85,0.8)), url('{% static 'assets/img/illustrations/group_default.jpeg' %}') ; background-blend-mode: multiply; background-size:cover; background-position:center;">
{% endif %}
    <div class="overlay"></div>
    <div class="container">
        <h1 class="mb-2">{{object.name}}</h1>
        {% if object.description %}
            <p class="mb-4">{{object.description}}</p>
        {% endif %}
        {% if object.leader == request.user %}
            <a href="{% url 'update-group' object.uuid object.slug %}"><i class="fa fa-cog fa-5x"></i></a>
        {% endif %}
    </div>
</section>

<section class="ftco-section ftco-no-pt mt-5 mt-md-0">
   
        <div class="d-flex justify-content-center">
            <div class="col-6 d-flex align-items-stretch justify-content-center ftco-animate fadeInUp ftco-animated">
                <div class="services-2 text-center">
                    <div class="icon-wrap">
                        <div class="icon d-flex align-items-center justify-content-center">
                            <div class="row">
                                <div class="col-md-12">
                                    <i class="fas fa-users"></i>
                                </div>
                                <div class="col-md-12">
                                    <p class="nb_count">{{nb_of_users}}</p>
                                    
                                </div>
                            </div>

                        </div>

                    </div>

                </div>
            </div>
            
            <div class="col-6 d-flex align-items-stretch justify-content-center ftco-animate fadeInUp ftco-animated">
                <a href="{% url 'all-meals' %}">
                <div class="services-2 text-center">
                    <div class="icon-wrap">
                        <div class="icon d-flex align-items-center justify-content-center">
                            <div class="row">
                                <div class="col-md-12">
                                    <i class="fa-solid fa-utensils"></i>
                                </div>
                                <div class="col-md-12">
                                    <p class="nb_count">{{nb_of_meals}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </a>
            </div>
            

        </div>
   
</section>

<!-- Members container -->

<div class="container">
    <h1 class="text-center mb-5 darkest-color">{% trans "Members" %}</h1>
    {% if nb_of_users  == 1 %} 
    <div class="d-flex flex-wrap justify-content-center">
        
            <div class="sketch-box text-center">
                <img class="card-icon mx-auto" src="{% static 'assets/img/icons/user-100.png' %}" alt="Card image cap" width="100px" >
                <p>{% trans 'Invite other people to join your group' %}</p>
                <p>{% trans "Group's code" %} : </p>
                <p>{{object.uuid}}</p>
                <button id="copy-btn" class="btn-kdark btn-rounded" data={{object.uuid}}>{% trans "Copy the invitation" %}</button>
            </div>
        
    </div>
    {% else %}
        <div class="d-flex flex-wrap justify-content-center">
            <div class="member text-center mx-2">
                <div class="icon-wrap">
                    <button class="icon d-flex align-items-center justify-content-center" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        <i class="fas fa-plus"></i>
                    </button>
                </div>
            </div>
            <div class="member text-center mx-2">
            <a href="{% url 'profile' object.leader.slug  %}">
                <div class="icon-wrap">
                    {% if object.leader.profile_pic%}
                    <div class="icon d-flex align-items-center justify-content-center" style="background:url('{{object.leader.profile_pic.url}}') rgba(255, 255, 255, 0.8) ; background-blend-mode: multiply;"></div>
                    {% else %}
                    <div class="icon">{{ object.leader|avatar }}</div>
                    {% endif %}
                </div>
                <p class="text-center">{{object.leader.username}}
                
                <i class="fas fa-key"></i>
                
                </p>
                </a>
            </div>
        {% for i in members %}
            {% if object.leader == i %}

            {% else %}
            <div class="member text-center mx-2">
            <a href="{% url 'profile'  i.slug %}">
                <div class="icon-wrap">
                    {% if i.profile_pic %}
                    <div class="icon d-flex align-items-center justify-content-center" style="background:url('{{i.profile_pic.url}}') rgba(255, 255, 255, 0.8) ; background-blend-mode: multiply;background-size:cover;"></div>
                    {% else %}
                    <div class="icon">{{ i|avatar }}</div>
                    {% endif %}
                </div>
                <p class="text-center">{{i.pseudo}}
                
                </p>
                </a>
            </div>
            {%endif%}
            
        {% endfor %}
        </div>
    {% endif %}  
</div> <!-- Members container end -->

<!-- Guests container -->

<div class="container mt-5">
    <h1 class="text-center mb-5 darkest-color">{% trans "Guests" %}</h1>
    
        <div class="d-flex flex-wrap justify-content-center">
            
            
        {% for i in guests %}
            
            <div class="member text-center mx-2">
            <a href="{% url 'profile'  i.slug %}">
                <div class="icon-wrap">
                    {% if i.profile_pic %}
                    <div class="icon d-flex align-items-center justify-content-center" style="background:url('{{i.profile_pic.url}}') rgba(255, 255, 255, 0.8) ; background-blend-mode: multiply;background-size:cover;"></div>
                    {% else %}
                    <div class="icon">{{ i|avatar }}</div>
                    {% endif %}
                </div>
                <p class="text-center">{{i.pseudo}}
                
                </p>
                </a>
            </div>
           
            
        {% endfor %}
        </div>
   
</div> <!-- Guestscontainer end -->


{% if nb_of_meals == 0 %}
   
<div class="d-flex p-2 justify-content-center">
    <a class="btn" href="{% url 'add-meal-from-group' object.slug %}">
        <div class="sketch-box">
            <div class="card-cta border-0 sketch-box">
                <img class="card-icon mx-auto" src="{% static 'assets/img/icons/add-100.png' %}" alt="Card image cap" width="100px" >
                <div class="card-body">
                {% trans 'ADD FIRST MEAL TO THIS GROUP' %}
                </div>
            </div>
        </div>
    </a>
</div>
{% else %}
<div class="group-cards d-flex  justify-content-center flex-wrap px-5">
<a class="m-2" href="{% url 'group-meals' object.slug %}">
    <div class="sketch-box text-center">
        <div class="card-cta border-0 sketch-box">
            <img class="card-icon mx-auto" src="{% static 'assets/img/icons/meal-100.png' %}" alt="Card image cap" width="100px" >
            <div class="brand-color">
            {% trans 'View Meals' %}
            </div>
        </div>
    </div>
</a>
<a class="m-2" href="{% url 'group-dishes' object.slug %}">
    <div class="sketch-box text-center">
        <div class="card-cta border-0 sketch-box">
            <img class="card-icon mx-auto" src="{% static 'assets/img/icons/dish-100.png' %}" alt="Card image cap" width="100px" >
            <div class="brand-color">
            {% trans 'View Dishes' %}
            </div>
        </div>
    </div>
</a>
<a class="m-2" href="{% url 'group-anecdotes' object.slug %}">
    <div class="sketch-box text-center">
        <div class="card-cta border-0 sketch-box">
            <img class="card-icon mx-auto" src="{% static 'assets/img/icons/friends-100.png' %}" alt="Card image cap" width="100px" >
            <div class=" brand-color">
            {% trans 'View Anecdotes' %}
            </div>
        </div>
    </div>
</a>
<a class="m-2" href="{% url 'group-musics' object.slug %}">
    <div class="sketch-box text-center">
        <div class="card-cta border-0 sketch-box">
            <img class="card-icon mx-auto" src="{% static 'assets/img/icons/micro-100.png' %}" alt="Card image cap" width="100px" >
            <div class=" brand-color">
            {% trans 'View Musics' %}
            </div>
        </div>
    </div>
</a>
</div>
{% endif %}









<!-- Floating button -->
<a href="{% url 'add-meal-from-group' object.slug %}">
<div class="kfloat" data-bs-toggle="tooltip" title="{% trans 'Add Meal' %}">
<div class="my-float">+</div>
</div>
</a>

<!-- Modals -->

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
       <div class="text-center">
        <img src="{% static 'assets/img/icons/user-100.png' %}" alt="error icon" />
        <br/>
        <h3 class="modal-title mid-color" id="exampleModalLabel">{% trans "Invite other people to join your group" %}</h3>
        </div>
        <div class="text-center">
            <p class="darkest-color mt-4">{% trans "Code of the group :" %}</p>
            <p class="text-center darkest-color">{{object.uuid}}</p>
            <button id="copy-btn" class="btn-kdark btn-rounded" data={{object.uuid}}>{% trans "Copy the invitation" %}</button>
        </div>
        <div class="text-center">
          <a type="button" class="btn btn-outlined btn-modal outline-mid-color my-2" data-bs-dismiss="modal">{% trans 'Cancel' %}</a>
        </div>
          
       
      </div>
    </div>
  </div>

{% endblock %}
{% block extrajs %}
<script>
  const copyBtn = document.getElementById('copy-btn')
  const url = document.location.href
  
  console.log(copyBtn)
  copyBtn.addEventListener('click', () => {
    
    const code= copyBtn.getAttribute('data')
    
    invitation = "I suggest you to join the group I have created on \n"
    line = "\n ********************* \n" 
    code_invit = "\n The code to join the group is:\n " + code
    navigator.clipboard.writeText(invitation + url + line + code_invit)
    
   
   
    copyBtn.textContent = "Copied !"
  })
</script>


<script>
$(function() {

        var $myGroup = $('#filterGroup');
        $myGroup.on('show.bs.collapse','.collapse', function() {
        $myGroup.find('.show').collapse('hide');
        });
        $('.material-card > .mc-btn-action').click(function () {
            var card = $(this).parent('.material-card');
            var icon = $(this).children('i');
            icon.addClass('fa-spin-fast');

            if (card.hasClass('mc-active')) {
                card.removeClass('mc-active');

                window.setTimeout(function() {
                    icon
                        .removeClass('fa-arrow-left')
                        .removeClass('fa-spin-fast')
                        .addClass('fa-bars');

                }, 800);
            } else {
                card.addClass('mc-active');

                window.setTimeout(function() {
                    icon
                        .removeClass('fa-bars')
                        .removeClass('fa-spin-fast')
                        .addClass('fa-arrow-left');

                }, 800);
            }
        });
    });
</script>



{% endblock extrajs %}