{% load i18n %}

<div style="background-color: #d2d2d2; padding: 15px; text-align:center">
    <h2 style="margin: 0; padding: 10px; border-top-left-radius: 10px; border-top-right-radius: 10px; background-color: #93aec1; color: #ffffff;">{% trans 'Verify Email' %}</h2>
    <div style="margin: 0; padding: 15px; background-color: #ffffff;">
        <p>{% trans 'Hi' %} {{ user.pseudo }},</p>
        <p>{% trans "You're receiving this email because you requested a password reset for your user account at"%} {{domain}}</p>
        <a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}" style="border: 0; color: #ffffff; background-color: #93aec1; padding: 15px; margin-top:40px; font-weight: bold; text-decoration: none; border-radius: 5px;">
            {% trans 'Reset Password' %}
        </a>
        <p style="margin-top: 40px;">{% trans 'Or you can copy the link below to your browser' %}</p>
        <p>{{ protocol }}://{{ domain }}{% url "password_reset_confirm" uidb64=uid token=token %}</p>
        <p>Signature</p>
    </div>
    <div style="text-align: center; margin-top: 20px 0;">
        <p>© {% now 'Y' %} <a href="#">Company</a></p>
        
    </div>
</div>