

/* Layout */

#dashboard-page {
  background-color: var(--lightest-color);
  padding:0px !important;
  min-height: 100%;
}

main {
  padding:20px 0 !important;
}

@media screen and (min-width: 1025px) {
  main {
    padding:50px 0 !important;
  }
}

.over-container {
  height: 100%;
  width: 100%;
  position: fixed; /* Stay in place */
  z-index: 2000; /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgb(0,0,0); /* Black fallback color */
  background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s;

}
/* Sidebar */
#sidebar{
  background-color: var(--darkest-color) !important;
}
img#sidebar-logo {
  width:40px;
}

/* .dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -1px;
} */

@media  screen and (max-width:767px) {
  #sidebar {
    height: 55px;
  }

  /* .dropdown-submenu .dropdown-menu {
    top: 10;
    left: 0;
    margin-top: 80px;
  } */

}

#accordian {
  width: 250px;
}
i {
  margin-right: 10px;
}

#accordian li {
  list-style-type: none;
}

#accordian ul ul li a {
  color: white;
  text-decoration: none;
  font-size: 12px;
  line-height: 27px;
  display: block;
  
  transition: all 0.15s;
  position: relative;
}

#accordian ul ul li a:hover {
  color:var(--joy-color);
  border-left: 5px solid var(--joy-color);
}



#accordian li.active>ul {
  display: block;
}

#accordian ul ul ul {
  margin-left: 10px;
  padding-left:10px;
  
}

@media only screen and (min-width: 768px) {

  #accordian ul ul {
    display: none;
  }

}

@media only screen and (max-width: 767px) {
 
 /* #accordian ul ul.active {
  display: block;
  position:absolute;
    left:0;
    top:47px;
    padding:20px;
    background-color: var(--darkest-color);
    border-left:5px solid var(--joy-color);
    border-right: 5px solid var(--joy-color);
 }
#accordian > ul {
  position:relative !important;
  max-width:300px;
}

  #accordian > ul > li:hover, #accordian > ul > li.active   {
    
    border-left:5px solid var(--joy-color);
    border-right: 5px solid var(--joy-color);
  }
  
#accordian > ul > li > ul > li {
  display: table-cell !important;
}  */

/* .mobile-drop {
  position: relative;
}

.mobile-drop .drop-menu {
  top: 0;
  left: 100%;
  margin-top: -1px;
} */

li.subnav:hover {
  background-color: var(--joy-color);
  color:var(--darkest-color) !important;
}

.subnav-content {
  display: none;
  position: absolute;
  left: 0;
  background-color: var(--darkest-color);
  width: 100%;
  z-index: 1;
  padding:20px;
}

.subnav-content li {
  display: table-cell !important;
  
}

.subnav-content a {
  padding-left:5px !important;
}

/* .subnav-content2 {
  display: none;
  position: absolute;
  left: 0;
  background-color: var(--darkest-color);
  width: 100%;
  z-index: 1;
} */

li.subnav:hover .subnav-content{
  display: flex !important;
  justify-content: space-evenly;
}

.subnav-content2  {
  display:flex;
  flex-direction: column !important;
  text-align: left !important;
  margin-left: 0 !important;
  padding-left: 0!important;
  
}


}



/* Recipe Card */


.card-recipe{
  width:300px;
  margin-bottom:150px;
}





button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

input[type='radio'],
input[type='checkbox'] {
  box-sizing: border-box;
  padding: 0;
}

input[type='date'],
input[type='time'],
input[type='datetime-local'],
input[type='month'] {
  -webkit-appearance: listbox;
  appearance: listbox;
}

legend {
  font-size: 1.5rem;
  line-height: inherit;
  display: block;
  width: 100%;
  max-width: 100%;
  margin-bottom: .5rem;
  padding: 0;
  white-space: normal;
  color: inherit;
}

[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;
}

[type='search'] {
  outline-offset: -2px;
  -webkit-appearance: none;
  appearance: none;
}

[type='search']::-webkit-search-cancel-button,
[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}

[hidden] {
  display: none !important;
}





hr {
  margin-top: 2rem;
  margin-bottom: 2rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, .1);
}









.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  border: 1px solid rgba(0, 0, 0, .05);
  border-radius: .375rem;
  background-color: #fff;
  background-clip: border-box;
}

.card>hr {
  margin-right: 0;
  margin-left: 0;
}

.card-body {
  padding: 1.5rem 1.5rem 50px;
  flex: 1 1 auto;
}

.card-header {
  margin-bottom: 0;
  padding: 1.25rem 1.5rem;
  border-bottom: 1px solid rgba(0, 0, 0, .05);
  background-color: #fff;
}

.card-header:first-child {
  border-radius: calc(.375rem - 1px) calc(.375rem - 1px) 0 0;
}

.card-body .bottom-buttons {
  width:100%;
  margin-left:-1.5rem;
  position:absolute;
  padding-top:20px;
  bottom:10px;
  padding:0 15px;
}

@keyframes progress-bar-stripes {
  from {
    background-position: 1rem 0;
  }

  to {
    background-position: 0 0;
  }
}

.group-cards a {
  min-width:235px;
}





.rounded-circle {
  border-radius: 50% !important;
}

.small-img{
  width:50px;
  height: 50px;
}





.float-right {
  float: right !important;
}

.shadow,
.card-recipe-image img {
  box-shadow: 0 0 2rem 0 rgba(136, 152, 170, .15) !important;
}

















.card-recipe-image {
  position: relative;
}

.card-recipe-image img {
  position: absolute;
  left: 50%;
  height:150px;
  width: 180px;
  transition: all .15s ease;
  transform: translate(-50%, -50%);
  border-radius: .375rem;
}

.card-recipe .card-body {
  margin-top:80px;
}

a.card-recipe-btn-small {
  color:whitesmoke;
  background-color: var(--brand-color);
  font-size: 0.8em;
  border-radius: 10px;
  padding:2px 5px;
}

.edit-button {
  padding-top: 20px;
  position:absolute;
  bottom:2px;
  right: 15px;
}


/* Group Card */

.group-card {
  width:300px;
  height:200px;
}

.group-card .card-body {
  padding: 0 !important;
}

.group-card h5.card-title {
  color:whitesmoke !important;
  font-size: 2em;
}

.group-card .card-text {
  color:whitesmoke !important;
  font-size: 1em;;

}

/* Group Details */

.hero-wrap {
  margin-top:-50px;
	width: 100%;
	height: 400px;
	position: relative;
	z-index: 0;
  color:whitesmoke !important;
  padding-bottom:50px;
  }

.hero-wrap .fa {
  padding-bottom:10px;
  color:whitesmoke !important;
  font-size:2em !important;
}

.ftco-no-pt {
	padding-top: 0;
  }

  .ftco-section {
	padding: 4em 0;
	  padding-top: 6em;
	position: relative;
  max-width:800px;
  }

  .services-2 {
	margin-top: -180px;
  }

  .services-2 {
	width: 100%;
	display: block;
	padding: 0;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	transition: all 0.3s ease;
  }

  .services-2 .icon-wrap {
	position: relative;
	width: 170px;
	height: 170px;
	margin: 0 auto;
	  margin-bottom: 0px;
	margin-bottom: 10px;
	z-index: 0;
  }

  .services-2 .icon {
	width: 170px;
	height: 170px;
	border-radius: 50%;
	background: var(--mid-color);
	margin: 10px auto;
	
	position: relative;
	z-index: 0;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	transition: all 0.3s ease;
  }

  

  .services-2 .icon i {
	font-size: 60px;
	color: whitesmoke;
	margin-top: 30px;
  }

  .services-2 .icon i::after {
	position: absolute;
	top: 50%;
	right: 40px;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background: var(--brand-color);
	content: '';
	z-index: -1;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	transition: all 0.3s ease;
  }

  .nb_count {
	font-size:50px;
	color:whitesmoke;
  }

  

  .member .icon-wrap {
	position: relative;
	width: 100px;
	height: 100px;
	margin: 0 auto;
	  margin-bottom: 0px;
	margin-bottom: 10px;
	z-index: 0;
  }

  .member  a{
	color:var(--dark-color)!important;
  }

  .member .icon {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background: #f5f4f0;
	margin: 10px auto;
	
	position: relative;
	z-index: 0;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	transition: all 0.3s ease;
  }

  .member .icon p{
	margin-bottom: 0 !important;
  }

  .member .icon:hover {
	background: var(--mid-color);
  }

  @media only screen and (max-width: 600px) {
	.services-2 {
		margin-top:-200px;
	}

	.services-2 .icon-wrap {
		width:100px;
		height:100px;
	}
	.services-2 .icon {
		width: 100px;
		height: 100px;
	}

	.services-2 .icon i{
		font-size: 40px;
	}

	.services-2 .icon i::after {
		width: 20px;
		height: 20px;
		top:70%;
	}

	.nb_count {
		font-size:30px;
	}

	.ftco-section {
		padding-bottom: 0px !important;
	}

	.title-members{
		margin-top:-40px;
	}

  }

  .sketch-box {
    padding:25px;
  
    border: solid black;
    border-color: black;
    border-width: 3px 3px 5px 5px;
    border-radius:4% 95% 6% 95%/95% 4% 92% 5%;
  }

  .group-pic-wrapper img {
    width:300px;
    height: auto;
    border-radius: 10px;

  }

  .icon-wrap .avatar {
    width: 100px !important;
    height: 100px !important;
    border-radius: 50px !important;
    font-size: 50px !important;

  }



/* Floating button*/

.kfloat{
	position:fixed;
  display:flex;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color: var(--dark-color);
	color:#FFF;
	border-radius:50px;
	justify-content: center;
  align-items: center;
	
}

.kfloat:hover{
	background-color: var(--mid-color);
}

.my-float {
  margin:0 !important;
}

@media screen and (max-width:735px){
	.kfloat{
		bottom:20px;
		right:10px;
		width:40px;
		height: 40px;
		margin-top: -3px;
	}
}





