{% extends "dashboard/base.html" %}
{% load avatar i18n static avatar %}
{% block title %}{% trans 'Add Dish' %}{% endblock title %}
{% block content %}


<!-- New Form -->
<div class="d-flex align-items-center justify-content-center">
  {% if is_group %}
  <form class="kform" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {% if form.errors %}
      <div class="alert alert-danger alert-dismissible" role="alert">
          <div id="form_errors">
              {% for key, value in form.errors.items %}
              <strong>{{ value }}</strong>
              {% endfor %}
          </div>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
          </button>
      </div>
    {% endif %}

    <p class="title">
    {% if dish %}
      {% trans 'Edit' %} {{dish.name}}
    {% else %}
      {% trans 'Add Dish ' %}
    {% endif %}
    {% if meal%}
    {% trans 'at the Meal of ' %} {{meal.eaten_at|date:"d M Y"}}
    {% endif%}
    </p>



    <input
      type="file"
      id="fileElem"
      multiple
      accept="image/*"
      name="picture"
      style="display:none"
      />
      <div class="avatar-wrapper text-center mx-auto">

        <a href="#" id="fileSelect" class="avatar-upload">

          <img id="add-image" class="avatar-upload d-none" src="{% static 'assets/img/illustrations/in_thought.svg' %}" style="cursor: pointer;"/>
          <div class="avatar-overlay"><i class="fa fa-camera-retro icon"></i></div>
        </a>


      </div>
      <div id="fileList" class="mt-3 color-light">
        <p></p>
      </div>





        {{form.name}}

        <p class="mb-0">{% trans "Who cooked ?" %}</p>
        <div class="d-flex justify-content-between flex-wrap mt-3">
        {% for chef in chefs %}
            <div class="choice-container user-choice-container">
              
              <input class="mt-2" type="checkbox" value="{{chef.id}}" name="chef" />
              <label for="dessert-1">
            
                {% if chef.profile_pic %}
                <img src="{{ chef.profile_pic.url }}" alt="profile_pic">
              {% else %}
                {{ chef|avatar }}
              {% endif %} 
              </label>
              <p class="text-center">{{ chef.pseudo }}</p>
            </div>
        {% endfor %}
        </div>
        {% comment %} {{form.chef}} {% endcomment %}

        {% if no_meal %}
          <p class="mb-0">{% trans "At which meal did you eat this dish ? " %}</p>
          <div class="form-group mb-3">

        <select class="p-2" name="meal">
        {% for meal in group.meals.all %}
            <option value="{{ meal.id }}">{{ meal.eaten_at|date:"d M Y" }}</option>
        {% endfor %}
        </select>
    </div>
        {% endif %}



      <button class="submit" type="submit ">{% trans 'Submit' %}</button>
      <div class="text-center d-flex flex-column">
        <a href="{% url 'all-dishes' %}" class="mid-color">{% trans 'Cancel' %}</a>
        {% if dish %}
        <a href="#" type="button" class="joy-color" data-bs-toggle="modal" data-bs-target="#deleteDishModal"><i class="fa-solid fa-trash pe-2"></i>{% trans 'Delete Dish' %}</a>
        <!-- Modal delete dish -->
<div class="modal fade" id="deleteDishModal" tabindex="-1" aria-labelledby="deleteDishModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="text-center">
        <img src="{% static 'assets/img/icons/error-100.png' %}" alt="error icon" />
        <br/>
        <h5 class="modal-title mid-color" id="exampleModalLabel">{% trans 'Delete Dish ?' %}</h5>
      </div>
      <div class="text-center">
        <p class="darkest-color p-4">{% trans "Big big choice here, you're sure to send this dish to the trash ? " %}</p>
      </div>
      <div class="d-flex justify-content-evenly pb-2">
        <a href="{% url 'delete-dish' dish.slug %}"  class="btn btn-mid-color btn-modal" >{% trans "Yes, no regret" %}</a>
        <a type="button" class="btn btn-outlined btn-modal outline-mid-color" data-bs-dismiss="modal">{% trans 'Cancel' %}</a>
      </div>
    </div>
  </div>
</div>
        {% endif %}
      </div>
  </form>
  {% endif %}
</div>




{% endblock content %}

{% block extrajs %}
<script>
const fileSelect = document.getElementById("fileSelect"),
  fileElem = document.getElementById("fileElem"),
  fileList = document.getElementById("fileList");

fileSelect.addEventListener(
  "click",
  (e) => {
    if (fileElem) {
      fileElem.click();
    }
    e.preventDefault(); // prevent navigation to "#"
  },
  false
);

fileElem.addEventListener("change", handleFiles, false);

function handleFiles() {
  if (!this.files.length) {
    fileList.innerHTML = "<p>No files selected!'</p>";
  } else {
    fileList.innerHTML = "";
    const list = document.createElement("ul");
    fileList.appendChild(list);
    for (let i = 0; i < this.files.length; i++) {
      const li = document.createElement("li");
      list.appendChild(li);

      //if updating a previous profile pic
      const img = document.getElementById("change-image");
      if (img) {
      img.src = URL.createObjectURL(this.files[i]);
      img.height = 100;
      img.width = 100;
      img.className = "mx-auto avatar-upload rounded-circle";
      img.onload = () => {
        URL.revokeObjectURL(img.src);
      };
      }

      //if add profile pic
      const newImg = document.getElementById("add-image");
      const avatar = document.getElementsByClassName("avatar")[1];
      if (newImg) {
      newImg.src = URL.createObjectURL(this.files[i]);
      newImg.height = 100;
      newImg.width = 100;
      newImg.className = "mx-auto avatar-upload rounded-circle";
      newImg.classList.remove("d-none");
      avatar.classList.add("d-none");

      }
    }
  }
}
</script>
{% endblock extrajs%}