{% extends "dashboard/base.html" %}
{% load i18n static %}
{% block content %}

<h1 class="text-center mb-3">{% trans 'Anecdotes of' %} {{group}}</h1>

{% for anecdote in anecdotes%}
  <div class="large-card shadow">
  <div class="d-flex justify-content-start">
  <div>
    {% for meal in anecdote.meal.all%}
      {{meal.eaten_at|date:"d M Y"}}
    {% endfor %}
  </div>

  <div class="vertical-bar mx-3">

  </div>

  <div>
    {{anecdote.message}}
  </div>

  </div>
  <div class="edit-button">
              <a href="{% url 'edit-anecdote'  anecdote.id %}" class="dark-color small"><i class="fa fa-pencil"></i>{% trans 'Edit' %}</a>
          </div>
  </div>
{% endfor %}

{% endblock %}