{% extends 'users/base.html' %}
{% load i18n static %}
{% block title %}{% trans 'See you ?' %}{% endblock %}
{% block content %}
<div class="container-fluid d-flex align-items-center justify-content-center text-center">
    <div class="logout-container">
        <div class="text-center">
            <img  src="{% static 'assets/img/illustrations/online.svg' %}" style="height:200px;"/>
        </div>
        <h4 class="brand-color mt-1">{% trans "See you ?" %}</h4>
        <p>{% trans 'Your account has been deleted successfully' %} ;-( </p>
        <p>{% trans 'If there is anything we could have done differently, please write us !' %}</p>
        <a href="mailto:hola@ikameleon.com" class="btn btn-brand-color">{% trans 'Write a message' %}</a>
    </div>
</div>
    
{% endblock content %}